<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.purchase.PurchaseEvaluateMapper">
    <insert id="sendPurchaseEvaluate">
        INSERT INTO
            purchaseevaluate
            (openId,grade,des)
        VALUES
            (
            #{openId},
            #{grade},
            #{des}
            )
    </insert>
</mapper>