<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.express.ExpressMapper">
    <insert id="createExpress" parameterType="Express"
            useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			express
			(addressId,buildingId,statusId,sendUserOpenId,deadTime,sendTime,sendUserPay)
		VALUES
			(#{addressId},#{buildingId},#{statusId},#{sendUserOpenId},#{deadTime},#{sendTime},#{sendUserPay})
	</insert>
    <update id="updateExpress" parameterType="Express">
		UPDATE
		    express
		SET
		    addressid=#{addressId},
		    buildingid=#{buildingId},
		    statusid=#{statusId},
		    senduseropenid=#{sendUserOpenId},
		    getuseropenid=null,
		    deadtime=#{deadTime},
		    sendtime=#{sendTime},
		    gettime=null,
		    senduserpay=null,
		    sendusercancle=null,
		    getusercomplete=null
		WHERE
		    id=#{id}
	</update>
    <select id="filterExpress" resultType="Express">
        SELECT
        *
        FROM
        express
        WHERE
        statusid=1
        AND
        deadtime&gt;#{nowDate}
        <if test="buildingId != 0">
            AND buildingid=#{buildingId}
        </if>
        <choose>
            <when test="express_lastId != 0">
                LIMIT ${express_lastId},10
            </when>
            <otherwise>
                LIMIT 0,10
            </otherwise>
        </choose>
    </select>
    <update id="getExpress" parameterType="Express">
		UPDATE
		    express
		SET
		    getuseropenid=#{getUserOpenId},
		    gettime=#{getTime},
		    statusid=2
		WHERE
		    id=#{id}
		AND
		    statusid=1
	</update>
    <select id="getSendExpress" resultType="Express">
        SELECT
        *
        FROM
        express
        WHERE
        senduseropenid=#{sendUserOpenId}
        <if test="statusId == 1">
            AND statusid=1
            AND (deadtime&gt;#{nowDate} OR deadtime=#{nowDate})
        </if>
        <if test="statusId == 2">
            AND statusid=2
        </if>
        <if test="statusId == 3">
            AND statusid=3
        </if>
        <if test="statusId == 4">
            AND statusid=4
        </if>
        <if test="statusId == 5">
            AND statusid=1
            AND deadtime&lt;#{nowDate}
        </if>
        ORDER BY
        sendtime
        DESC
    </select>
    <select id="getGetExpress" resultType="Express">
        SELECT
        *
        FROM
        express
        WHERE
        getuseropenid=#{getUserOpenId}
        <if test="statusId == 2">
            AND statusid=2
            AND (deadtime&gt;#{nowDate} OR deadtime=#{nowDate})
        </if>
        <if test="statusId == 3">
            AND statusid=3
        </if>
        <if test="statusId == 4">
            AND statusid=2 AND deadtime&lt;#{nowDate}
        </if>
        ORDER BY
        gettime
        DESC
    </select>
    <select id="getOneExpress" parameterType="int" resultType="Express">
        SELECT
            *
        FROM
            express
        WHERE
            id=#{id}
    </select>
    <delete id="deleteExpress" parameterType="int">
        DELETE FROM
            express
        WHERE
            id=#{value}
        AND
            (statusid=1 OR statusid=4)
    </delete>
    <update id="sendExpressReward">
		UPDATE
		    express
		SET
		    reward=#{reward}
		WHERE
		    id=#{id}
		AND
		    senduserpay=0
	</update>
    <update id="payExpressReward">
		UPDATE
		    express
		SET
		    senduserpay=#{sendUserPay}
		WHERE
		    id=#{id}
	</update>
    <update id="sendCancleExpress">
		UPDATE
		    express
		SET
		    sendusercancle=#{sendUserCancle}
		WHERE
		    id=#{expressId}
	</update>
    <update id="getCancleExpress">
		UPDATE
		    express
		SET
		    statusid=4
		WHERE
		    id=#{expressId}
	</update>
    <update id="getCompleteExpress">
		UPDATE
		    express
		SET
		    getusercomplete=#{getUserComplete}
		WHERE
		    id=#{expressId}
	</update>
    <update id="sendCompleteExpress">
		UPDATE
		    express
		SET
		    statusid=3
		WHERE
		    id=#{expressId}
	</update>
</mapper>