<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.ConfessionWallItemMapper">
    <insert id="batchCreateConfessionWallItem" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO
            confessionwallitem
            (infoid,point,wallid)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.infoId},
            #{item.point},
            #{item.wallId}
            )
        </foreach>
    </insert>
    <delete id="batchDeleteConfessionWallItem" parameterType="int">
        DELETE FROM
            confessionwallitem
        WHERE
            wallid=#{wallId}
    </delete>
</mapper>