<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.ExpressItemMapper">
    <insert id="batchCreateExpressItems" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT INTO
            expressitem
            (address,count,typecode,expressid)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.address},
            #{item.count},
            #{item.typeCode},
            #{item.expressId}
            )
        </foreach>
    </insert>
    <delete id="batchDeleteExpressItems" parameterType="int">
        DELETE FROM
            expressitem
        WHERE
            expressid=#{expressId}
    </delete>
    <select id="findExpressItemsByExpressId" parameterType="int" resultType="ExpressItem">
        SELECT
            *
        FROM
            expressitem
        WHERE
            expressid=#{expressId}
    </select>
</mapper>