<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PointRecordMapper">
    <insert id="createPointRecord">
		INSERT INTO
			pointrecord
			(openId,recordsourcetype,saveTime,num,flag)
		VALUES
			(#{openId},#{recordSourceType},#{saveTime},#{num},#{flag})
	</insert>
    <select id="getRecords" resultType="PointRecord">
        SELECT
			pr.id id,
			pr.openid openId,
			pr.recordsourcetype recordSourceType,
			pr.savetime saveTime,
			pr.num num,
			pr.flag flag
        FROM
        	pointrecord pr
        WHERE
        	pr.openid=#{openId}
		ORDER BY
			pr.savetime
		DESC
		<choose>
			<when test="record_lastId != 0">
				LIMIT ${record_lastId},10
			</when>
			<otherwise>
				LIMIT 0,10
			</otherwise>
		</choose>
    </select>
</mapper>