<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PointRecordMapper">
    <insert id="createPointRecord">
		INSERT INTO
			pointrecord
			(id,openId,recordsourcetype,saveTime,num,flag)
		VALUES
			(#{id},#{openId},#{RecordSourceType},#{saveTime},#{num},#{flag})
	</insert>
    <select id="getRecords" parameterType="String" resultType="PointRecord">
        SELECT
        	*
        FROM
        	pointrecord
        WHERE
        	openid=#{openId}
    </select>
</mapper>