<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PointExchangeRecordMapper">
    <insert id="createPointExchangeRecord">
		INSERT INTO pointexchangerecord VALUES (#{pointExchangeId},#{openId},#{verificationCode},#{ifUsed})
	</insert>

    <select id="selectPointExchangeRecord" parameterType="String" resultType="java.util.Map">
        SELECT
         	m.name merchant_name,
         	m.iconsrc merchant_icon,
         	m.address merchant_address,
         	pe.context pointExchange_context,
         	pe.time pointExchange_time,
         	per.verificationcode record_code
        FROM 
        	pointexchangerecord per,pointexchange pe,merchant m 
        WHERE 
        	per.openid=#{openId}
        AND
        	per.ifused=0
        AND
        	per.pointexchangeid=pe.id
        AND
        	pe.merchantcode=m.code
    </select>
</mapper>