<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PointExchangeMapper">
    <select id="getPointExchangeList" resultType="java.util.HashMap">
        SELECT pe.*,m.* FROM pointexchange pe left join merchant m on pe.merchantcode = m.code
    </select>
</mapper>