<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PurchaseMapper">
    <insert id="createPurchase" parameterType="Purchase"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO purchase (typeid,addressid,buildingid,statusid,reward,senduseropenid,deadtime,sendtime) VALUES (#{typeId},#{addressId},#{buildingId},#{statusId},#{reward},#{sendUserOpenId},#{deadTime},#{sendTime})
	</insert>
    <update id="updatePurchase" parameterType="Purchase">
		UPDATE purchase SET typeid=#{typeId},addressid=#{addressId},buildingid=#{buildingId},statusid=#{statusId},reward=#{reward},senduseropenid=#{sendUserOpenId},deadtime=#{deadTime},sendtime=#{sendTime},getuseropenid=null,gettime=null,sendusercancle=null where id=#{id}
	</update>
    <select id="findPurchases" resultType="Purchase">
        SELECT * FROM purchase WHERE statusid=1 AND deadtime&gt;#{2} limit #{1},#{0}
    </select>
    <update id="getPurchase" parameterType="Purchase">
		UPDATE purchase SET getuseropenid=#{getUserOpenId},gettime=#{getTime},statusid=2 where id=#{id}
	</update>
    <select id="filterPurchases" resultType="Purchase">
        SELECT * FROM purchase WHERE statusid=1 AND deadtime&gt;#{2}
        <if test="buildingId != 0"> AND buildingid=#{buildingId} </if>
        <if test="typeId != 0"> AND typeid=#{typeId} </if>
        limit #{1},#{0}
    </select>
    <select id="getSendPurchase" resultType="Purchase">
        SELECT * FROM purchase WHERE senduseropenid=#{param1} AND statusid=#{param2} order by sendtime desc
    </select>
    <select id="getGetPurchase" resultType="Purchase">
        SELECT * FROM purchase WHERE getuseropenid=#{param1} AND statusid=#{param2} order by gettime desc
    </select>
    <delete id="deletePurchase" parameterType="int">
        DELETE FROM purchase WHERE id=#{value}
    </delete>
    <update id="sendCanclePurchase">
		UPDATE purchase SET sendusercancle=#{1} where id=#{0}
	</update>
    <update id="getCanclePurchase">
		UPDATE purchase SET statusid=4 where id=#{0}
	</update>
    <update id="getCompletePurchase">
		UPDATE purchase SET getusercomplete=#{1} where id=#{0}
	</update>
    <update id="sendCompletePurchase">
		UPDATE purchase SET statusid=3 where id=#{0}
	</update>
</mapper>