<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.PurchaseStatusMapper">
    <select id="findById" parameterType="int" resultType="PurchaseStatus">
        SELECT * FROM purchasestatus WHERE id=#{id}
    </select>
    <select id="findAll" resultType="PurchaseStatus">
        SELECT * FROM purchasestatus
    </select>
</mapper>