<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lushihao.sharewe.dao.SchoolMapper">
    <select id="findByProvinceId" parameterType="int" resultType="School">
        SELECT
            s.id id,
            s.name name,
            s.province_id province_id,
            s.province_name province_name
        FROM
            school s
        WHERE
            province_id=#{province_id}
    </select>
</mapper>